.sticky{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.827);
   
}
 .sticky + main{
    padding-top: 60px;
 }

.Option{
    position: relative;
    display: inline-block;
    font-size: x-large;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

.Option::after{
    content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px; /* Espessura do underline */
      width: 100%;
      background-color:aliceblue; /* Cor do underline */
      transform: scaleX(0); /* Começa invisível */
      transform-origin: left; /* Origem do movimento */
      transition: transform 1.0s ease; /* Transição suave */
}

.Option:hover::after{
    transform: scaleX(1);
}

.OptionSelection::after{
    transform: scaleX(1);
}