.containerSections{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

section{
    /* margin: 150px 100px; */
    /* padding:100px 100px ; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    

}

#homeSection{
   margin: 150px 0px 0px 100px;
   width: 80vw;
   align-items: baseline;
   justify-content: flex-start;
}